<div class="product-container" [ngClass]="selectedTheme">
  <div class="profile-container" [ngClass]="selectedTheme">
    <p>Válassz egy stílust:</p>
    <div class="button-group">
      <button (click)="selectedTheme = 'light'" [ngClass]="{ 'active': selectedTheme === 'light' }">Világos</button>
      <button (click)="selectedTheme = 'dark'" [ngClass]="{ 'active': selectedTheme === 'dark' }">Sötét</button>
    </div>

  <mat-form-field appearance="outline">
    <mat-label>Válassz kategóriát</mat-label>
    <mat-select (selectionChange)="onCategoryChange($event.value)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div *ngIf="isLoading" class="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="products-grid">
    <mat-card *ngFor="let product of filteredProducts">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.image" [alt]="product.name">
      <mat-card-content>
        <p>Kategória: {{ product.category }}</p>
        <p>Ár: {{ product.price | currency:'HUF':'symbol':'1.0-0' }}</p>
        <p>Eladott darab: {{ product.purchased }}</p>
        <p>Státusz: {{ product.purchased | salesStatus }}</p>
        <div class="rating">
          <p>Értékelés: {{ product.rating }}%</p>
          <mat-progress-bar mode="determinate" [value]="product.rating"></mat-progress-bar>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart(product)">
          Kosárba <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>